@inherits RevenueObjectListBase

<h3>Revenue Objects</h3>

@if (RevenueObjects == null)
{
  <p><em>Loading...</em></p>
}
else
{
  <table class="table">
    <thead>
      <tr>
        <th>PIN</th>
        <th>AIN</th>
        <th>Type</th>
        <th>Sub-Type</th>
        <th>Active</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var revenueObject in RevenueObjects)
      {
        <tr>
          <td>@revenueObject.Pin</td>
          <td>@revenueObject.Ain</td>
          <td>@(revenueObject.RevObjType?.Descr ?? string.Empty)</td>
          <td>@(revenueObject.RevObjSubType?.Descr ?? string.Empty)</td>
          <td>@(revenueObject.EffStatus == "A" ? "Yes" : "No")</td>
          <td>
            <a href="@($"revenueobjectsummary/{revenueObject.Id}")" class="btn btn-primary table-btn">
              View Detail
            </a>
          </td>
        </tr>
      }
    </tbody>
  </table>
}