@inherits RevenueObjectDetailBase

<h3>Revenue Object Detail</h3>

@if (RevenueObject.Id != 0)
{
  <section class="revobj-detail">
    <div class="col-12 row">
      <div class="col-10 row">
        <div class="col-xs-12 col-sm-8">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">PIN</label>
            <div class="col-sm-8">
              <label type="text" class="form-control-plaintext">
                @RevenueObject.Pin
              </label>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">AIN</label>
            <div class="col-sm-8">
              <label type="text" readonly class="form-control-plaintext">
                @RevenueObject.Ain
              </label>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Active</label>
            <div class="col-sm-8">
              <label type="text" readonly class="form-control-plaintext">
                @(RevenueObject.EffStatus == "A" ? "Yes" : "No")
              </label>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Type</label>
            <div class="col-sm-8">
              <label type="text" readonly class="form-control-plaintext">
                @(RevenueObject.RevObjType?.Descr ?? string.Empty)
              </label>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Sub-Type</label>
            <div class="col-sm-8">
              <label type="text" readonly class="form-control-plaintext">
                @(RevenueObject.RevObjSubType?.Descr ?? string.Empty)
              </label>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">XCoord</label>
            <div class="col-sm-8">
              <label type="text" readonly class="form-control-plaintext">
                @RevenueObject.XCoord
              </label>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">YCoord</label>
            <div class="col-sm-8">
              <label type="text" readonly class="form-control-plaintext">
                @RevenueObject.YCoord
              </label>
            </div>
          </div>
        </div>

        @if ((double.TryParse(RevenueObject.XCoord, out double xCoord) && xCoord != 0) ||
           (double.TryParse(RevenueObject.YCoord, out double yCoord) && yCoord != 0))
        {
          <div class="col-xs-12 col-sm-4">
            <div class="parcel-map">
              <Map Zoom="10" Markers="MapMarkers"></Map>
            </div>
          </div>
        }
      </div>
    </div>
  </section>
}